<section class="container">
  <form class="input-group mb-3 d-flex flex-column">
    <article class="mb-3">
      <label for="addSymptoms" id="symptoms" class="form-label"
        >Add symptoms</label
      >
      <div class="input-group mb-3 icon_inside">
        <input
          [(ngModel)]="selectedSymptoms"
          [ngModelOptions]="{ standalone: true }"
          type="text"
          class="form-control"
          placeholder="addSymptoms"
        />
        <a class="input-group-text"><i class="bi bi-search"></i></a>
      </div>
    </article>
    <article class="d-flex flex-wrap gap-2">
      <a
        *ngFor="let symptom of symptoms"
        (click)="showSymptom(symptom)"
        id="symptoms"
        class="btn rounded-pill"
        >{{ symptom }} +</a
      >
    </article>
  </form>
</section>
