<section class="container">
  <form class="input-group mb-3 d-flex flex-column">
    <article class="mb-3">
      <label for="addSymptoms" id="symptoms" class="form-label"
        >Add symptoms</label
      >
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="addSymptoms"
          #symptoms
        />
        <button class="btn btn-success opacity-75" type="button">
          Show results
        </button>
      </div>
    </article>
    <article class=" d-flex flex-wrap gap-2 ">
        <a href="#" class="btn btn-warning rounded-pill">headache +</a>
        <a href="#" class="btn btn-warning rounded-pill">rash +</a>
        <a href="#" class="btn btn-warning rounded-pill">diarrhea +</a>
        <a href="#" class="btn btn-warning rounded-pill">snuffle +</a>
        <a href="#" class="btn btn-warning rounded-pill">fever heat +</a>
        <a href="#" class="btn btn-warning rounded-pill">fever +</a>
      </article>
  </form>
 
</section>
